In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasus.csv')

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\2335452207.py:1: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('datasus.csv')

In [3]:
print(f"Após leitura CSV: {df.shape}")

Após leitura CSV: (148741, 64)

In [4]:
pd.set_option('display.max_rows', None)

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df .head()

,sintomas,profissionalSaude,racaCor,outrosSintomas,outrasCondicoes,profissionalSeguranca,cbo,condicoes,sexo,estado,estadoIBGE,municipio,municipioIBGE,origem,estadoNotificacao,municipioNotificacao,municipioNotificacaoIBGE,evolucaoCaso,classificacaoFinal,codigoEstrategiaCovid,codigoBuscaAtivaAssintomatico,outroBuscaAtivaAssintomatico,codigoTriagemPopulacaoEspecifica,outroTriagemPopulacaoEspecifica,codigoLocalRealizacaoTestagem,outroLocalRealizacaoTestagem,codigoRecebeuVacina,codigoLaboratorioPrimeiraDose,codigoLaboratorioSegundaDose,lotePrimeiraDose,loteSegundaDose,codigoContemComunidadeTradicional,source_id,excluido,validado,codigoDosesVacina,estadoNotificacaoIBGE,totalTestesRealizados,dataNotificacao,dataInicioSintomas,dataEncerramento,dataPrimeiraDose,dataSegundaDose,codigoEstadoTeste1,codigoTipoTeste1,codigoFabricanteTeste1,codigoResultadoTeste1,codigoEstadoTeste2,codigoTipoTeste2,codigoFabricanteTeste2,codigoResultadoTeste2,codigoEstadoTeste3,codigoTipoTeste3,codigoFabricanteTeste3,codigoResultadoTeste3,codigoEstadoTeste4,codigoTipoTeste4,codigoFabricanteTeste4,codigoResultadoTeste4,dataColetaTeste1,dataColetaTeste2,dataColetaTeste3,dataColetaTeste4,idade
0,Assintomático,Não,Amarela,NaN,NaN,Não,NaN,NaN,Feminino,Pará,PA,Tucuruí,1508100.0,parse-cloud,Pará,Tucuruí,1508100.0,Cura,Síndrome Gripal Não Especificada,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,ASTRAZENECA,ASTRAZENECA/FIOCRUZ,CTMAV501,214VCD076W,2.0,IPFAhfF7DY,FALSO,FALSO,"2,3,2001",PA,1,09/07/2022,NaN,2024-04-11,2021-04-08,2021-07-08,3.0,3.0,715.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/07/2022,NaN,NaN,NaN,NaN
1,Assintomático,Não,Parda,NaN,NaN,Não,NaN,NaN,Masculino,Pará,PA,Tucuruí,1508100.0,parse-cloud,Pará,Tucuruí,1508100.0,Cura,Síndrome Gripal Não Especificada,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,ASTRAZENECA/FIOCRUZ,ASTRAZENECA,215VCD144W,210185,2.0,SSB7t5jM3w,FALSO,FALSO,"3,1,2002",PA,1,31/08/2022,NaN,2024-03-27,2021-06-21,2021-09-21,3.0,3.0,715.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31/08/2022,NaN,NaN,NaN,NaN
2,"Coriza, Tosse, Dor de Garganta, Dor de Cabeça",Não,Parda,NaN,NaN,Não,NaN,NaN,Feminino,Pará,PA,Tucuruí,1508100.0,parse-cloud,Pará,Tucuruí,1508100.0,Em tratamento domiciliar,Confirmado Laboratorial,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,SINOVAC/BUTANTAN,SINOVAC/BUTANTAN,210327,210400,2.0,TlDExUobdp,FALSO,FALSO,"1,2,2003",PA,1,18/01/2022,2022-01-15,2024-05-29,2021-08-14,2021-09-14,3.0,3.0,715.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/01/2022,NaN,NaN,NaN,29.0
3,"Dor de Cabeça, Tosse, Febre, Outros",Não,Parda,"MIALGIA, ARTRALGIA",NaN,Não,NaN,NaN,Feminino,Pará,PA,Tucuruí,1508100.0,parse-cloud,Pará,Tucuruí,1508100.0,Cura,Síndrome Gripal Não Especificada,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,SINOVAC/BUTANTAN,SINOVAC/BUTANTAN,210365,210400,2.0,k851hxFVJJ,FALSO,FALSO,"2,1",PA,1,12/07/2022,2022-07-10,2024-04-24,2021-08-17,2021-09-14,3.0,3.0,792.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/07/2022,NaN,NaN,NaN,24.0
4,"Tosse, Dor de Cabeça",Não,Branca,NaN,NaN,Não,NaN,NaN,Feminino,Pará,PA,Tucuruí,1508100.0,parse-cloud,Pará,Tucuruí,1508100.0,Cura,Síndrome Gripal Não Especificada,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,ASTRAZENECA/FIOCRUZ,ASTRAZENECA,213VCD008VA,210198,2.0,kqGnR4HvID,FALSO,FALSO,"3,1,2002",PA,1,30/01/2022,2022-01-29,2024-05-28,2021-06-09,2021-09-09,3.0,3.0,715.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/01/2022,NaN,NaN,NaN,28.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148741 entries, 0 to 148740
Data columns (total 64 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   sintomas                           148737 non-null  object
 1   profissionalSaude                  148737 non-null  object
 2   racaCor                            148633 non-null  object
 3   outrosSintomas                     15479 non-null   object
 4   outrasCondicoes                    4471 non-null    object
 5   profissionalSeguranca              148566 non-null  object
 6   cbo                                9123 non-null    object
 7   condicoes                          15168 non-null   object
 8   sexo                               148741 non-null  object
 9   estado                             148741 non-null  object
 10  estadoIBGE                         143029 non-null  object
 11  municipio                          148741 non-null  object
 12  municipioIBGE                      142898 non-null  float64
 13  origem                             148741 non-null  object
 14  estadoNotificacao                  148741 non-null  object
 15  municipioNotificacao               148603 non-null  object
 16  municipioNotificacaoIBGE           140505 non-null  float64
 17  evolucaoCaso                       125531 non-null  object
 18  classificacaoFinal                 124812 non-null  object
 19  codigoEstrategiaCovid              141088 non-null  float64
 20  codigoBuscaAtivaAssintomatico      16802 non-null   float64
 21  outroBuscaAtivaAssintomatico       8606 non-null    object
 22  codigoTriagemPopulacaoEspecifica   2819 non-null    float64
 23  outroTriagemPopulacaoEspecifica    1570 non-null    object
 24  codigoLocalRealizacaoTestagem      141090 non-null  float64
 25  outroLocalRealizacaoTestagem       1435 non-null    object
 26  codigoRecebeuVacina                120656 non-null  float64
 27  codigoLaboratorioPrimeiraDose      91372 non-null   object
 28  codigoLaboratorioSegundaDose       80233 non-null   object
 29  lotePrimeiraDose                   91370 non-null   object
 30  loteSegundaDose                    80233 non-null   object
 31  codigoContemComunidadeTradicional  143054 non-null  float64
 32  source_id                          148741 non-null  object
 33  excluido                           148741 non-null  object
 34  validado                           148741 non-null  object
 35  codigoDosesVacina                  95171 non-null   object
 36  estadoNotificacaoIBGE              140643 non-null  object
 37  totalTestesRealizados              148741 non-null  int64
 38  dataNotificacao                    148733 non-null  object
 39  dataInicioSintomas                 88492 non-null   object
 40  dataEncerramento                   123759 non-null  object
 41  dataPrimeiraDose                   90767 non-null   object
 42  dataSegundaDose                    79471 non-null   object
 43  codigoEstadoTeste1                 132021 non-null  float64
 44  codigoTipoTeste1                   132021 non-null  float64
 45  codigoFabricanteTeste1             110673 non-null  float64
 46  codigoResultadoTeste1              128044 non-null  float64
 47  codigoEstadoTeste2                 12614 non-null   float64
 48  codigoTipoTeste2                   12614 non-null   float64
 49  codigoFabricanteTeste2             5403 non-null    float64
 50  codigoResultadoTeste2              7872 non-null    float64
 51  codigoEstadoTeste3                 842 non-null     float64
 52  codigoTipoTeste3                   842 non-null     float64
 53  codigoFabricanteTeste3             403 non-null     float64
 54  codigoResultadoTeste3              627 non-null     float64
 55  codigoEstadoTeste4                 183 non-null     float64
 56  codigoTipoTeste4                   183 non-null     float64
 57  codigoFabricanteTeste4             99 non-null      float64
 58  codigoResultadoTeste4              166 non-null     float64
 59  dataColetaTeste1                   129910 non-null  object
 60  dataColetaTeste2                   8429 non-null    object
 61  dataColetaTeste3                   725 non-null     object
 62  dataColetaTeste4                   177 non-null     object
 63  idade                              109394 non-null  float64
dtypes: float64(25), int64(1), object(38)
memory usage: 72.6+ MB

In [8]:
# Quantidade de nulos por coluna
df.isnull().sum()

# Porcentagem de nulos por coluna
#(df.isnull().mean() * 100).round(2)

sintomas                                  4
profissionalSaude                         4
racaCor                                 108
outrosSintomas                       133262
outrasCondicoes                      144270
profissionalSeguranca                   175
cbo                                  139618
condicoes                            133573
sexo                                      0
estado                                    0
estadoIBGE                             5712
municipio                                 0
municipioIBGE                          5843
origem                                    0
estadoNotificacao                         0
municipioNotificacao                    138
municipioNotificacaoIBGE               8236
evolucaoCaso                          23210
classificacaoFinal                    23929
codigoEstrategiaCovid                  7653
codigoBuscaAtivaAssintomatico        131939
outroBuscaAtivaAssintomatico         140135
codigoTriagemPopulacaoEspecifica     145922
outroTriagemPopulacaoEspecifica      147171
codigoLocalRealizacaoTestagem          7651
outroLocalRealizacaoTestagem         147306
codigoRecebeuVacina                   28085
codigoLaboratorioPrimeiraDose         57369
codigoLaboratorioSegundaDose          68508
lotePrimeiraDose                      57371
loteSegundaDose                       68508
codigoContemComunidadeTradicional      5687
source_id                                 0
excluido                                  0
validado                                  0
codigoDosesVacina                     53570
estadoNotificacaoIBGE                  8098
totalTestesRealizados                     0
dataNotificacao                           8
dataInicioSintomas                    60249
dataEncerramento                      24982
dataPrimeiraDose                      57974
dataSegundaDose                       69270
codigoEstadoTeste1                    16720
codigoTipoTeste1                      16720
codigoFabricanteTeste1                38068
codigoResultadoTeste1                 20697
codigoEstadoTeste2                   136127
codigoTipoTeste2                     136127
codigoFabricanteTeste2               143338
codigoResultadoTeste2                140869
codigoEstadoTeste3                   147899
codigoTipoTeste3                     147899
codigoFabricanteTeste3               148338
codigoResultadoTeste3                148114
codigoEstadoTeste4                   148558
codigoTipoTeste4                     148558
codigoFabricanteTeste4               148642
codigoResultadoTeste4                148575
dataColetaTeste1                      18831
dataColetaTeste2                     140312
dataColetaTeste3                     148016
dataColetaTeste4                     148564
idade                                 39347
dtype: int64

In [9]:
duplicadas = df[df.duplicated()]
duplicadas

Empty DataFrame
Columns: [sintomas, profissionalSaude, racaCor, outrosSintomas, outrasCondicoes, profissionalSeguranca, cbo, condicoes, sexo, estado, estadoIBGE, municipio, municipioIBGE, origem, estadoNotificacao, municipioNotificacao, municipioNotificacaoIBGE, evolucaoCaso, classificacaoFinal, codigoEstrategiaCovid, codigoBuscaAtivaAssintomatico, outroBuscaAtivaAssintomatico, codigoTriagemPopulacaoEspecifica, outroTriagemPopulacaoEspecifica, codigoLocalRealizacaoTestagem, outroLocalRealizacaoTestagem, codigoRecebeuVacina, codigoLaboratorioPrimeiraDose, codigoLaboratorioSegundaDose, lotePrimeiraDose, loteSegundaDose, codigoContemComunidadeTradicional, source_id, excluido, validado, codigoDosesVacina, estadoNotificacaoIBGE, totalTestesRealizados, dataNotificacao, dataInicioSintomas, dataEncerramento, dataPrimeiraDose, dataSegundaDose, codigoEstadoTeste1, codigoTipoTeste1, codigoFabricanteTeste1, codigoResultadoTeste1, codigoEstadoTeste2, codigoTipoTeste2, codigoFabricanteTeste2, codigoResultadoTeste2, codigoEstadoTeste3, codigoTipoTeste3, codigoFabricanteTeste3, codigoResultadoTeste3, codigoEstadoTeste4, codigoTipoTeste4, codigoFabricanteTeste4, codigoResultadoTeste4, dataColetaTeste1, dataColetaTeste2, dataColetaTeste3, dataColetaTeste4, idade]
Index: []

In [10]:
colunas_data = ['dataNotificacao', 'dataInicioSintomas', 'dataEncerramento', 
                    'dataPrimeiraDose', 'dataSegundaDose','dataColetaTeste1',
                    'dataColetaTeste2','dataColetaTeste3','dataColetaTeste4']
    
for col in colunas_data:
    df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3824196570.py:6: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3824196570.py:6: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)

In [11]:
df.replace(['None', 'null', 'Nan', ''], np.nan, inplace=True)

In [12]:
print(f"Após conversão datas: {df.shape}")

Após conversão datas: (148741, 64)

In [13]:
cols_texto = ['sintomas', 'racaCor', 'sexo', 'estado', 'municipio',
              'cbo','classificacaoFinal','evolucaoCaso','condicoes',
              'origem','lotePrimeiraDose','loteSegundaDose',
              'codigoFabricanteTeste1', 'codigoFabricanteTeste2',
              'codigoFabricanteTeste3','codigoFabricanteTeste4',
              'outroLocalRealizacaoTestagem','outroBuscaAtivaAssintomatico',
              'outrasCondicoes','outrosSintomas','outroTriagemPopulacaoEspecifica',
              'codigoLaboratorioPrimeiraDose', 'codigoLaboratorioSegundaDose']

for col in cols_texto:
            df[col] = df[col].astype(str).str.strip().str.upper()
            # Transformar 'NAN' string de volta para nulo real após conversão
            df[col].replace('NAN', np.nan, inplace=True)

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)
C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\3644887388.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace('NAN', np.nan, inplace=True)

In [14]:
# Valores únicos das variáveis booleanas
# Buscar colunas que podem ser booleanas
possiveis_bool = [col for col in df.columns if any(palavra in col.lower() for palavra in 
                  ['tradicional', 'saude', 'seguranca', 'excluido', 'validado'])]

print(f"Colunas booleanas encontradas: {possiveis_bool}\n")

for col in possiveis_bool:
    valores_unicos = df[col].unique()
    contagem = df[col].value_counts(dropna=False)
    print(f"\n{col}:")
    print(f"  Valores únicos: {valores_unicos}")
    print(f"  Contagem:")
    print(contagem)

Colunas booleanas encontradas: ['profissionalSaude', 'profissionalSeguranca', 'codigoContemComunidadeTradicional', 'excluido', 'validado']


profissionalSaude:
  Valores únicos: ['Não' 'Sim' nan]
  Contagem:
profissionalSaude
Não    145380
Sim      3357
NaN         4
Name: count, dtype: int64

profissionalSeguranca:
  Valores únicos: ['Não' 'Sim' nan]
  Contagem:
profissionalSeguranca
Não    148290
Sim       276
NaN       175
Name: count, dtype: int64

codigoContemComunidadeTradicional:
  Valores únicos: [ 2.  1. nan]
  Contagem:
codigoContemComunidadeTradicional
2.0    138190
NaN      5687
1.0      4864
Name: count, dtype: int64

excluido:
  Valores únicos: ['FALSO']
  Contagem:
excluido
FALSO    148741
Name: count, dtype: int64

validado:
  Valores únicos: ['FALSO']
  Contagem:
validado
FALSO    148741
Name: count, dtype: int64

In [15]:
mapa_bool = {
    'FALSO': False, 'Não': False, 'NÃO': False, 'FALSE': False,
    'VERDADEIRO': True, 'Sim': True, 'TRUE': True,
    
    'NÃO INFORMADO': np.nan, 'NAO INFORMADO': np.nan, 'INDEFINIDO': np.nan,
    'NAN': np.nan,
    
    # Mapeamento numérico para codigoContemComunidadeTradicional
    1.0: True,
    2.0: False
}

cols_bool = ['profissionalSaude', 'profissionalSeguranca', 'excluido', 'validado', 
             'codigoContemComunidadeTradicional']

for col in cols_bool:
    if col in df.columns:
        df[col] = df[col].map(mapa_bool)

In [16]:
print(f"Antes do mapa bool: {df.shape}")

Antes do mapa bool: (148741, 64)

In [17]:
# Valores únicos das variáveis booleanas
# Buscar colunas que podem ser booleanas
possiveis_bool = [col for col in df.columns if any(palavra in col.lower() for palavra in 
                  ['tradicional', 'saude', 'seguranca', 'excluido', 'validado'])]

print(f"Colunas booleanas encontradas: {possiveis_bool}\n")

for col in possiveis_bool:
    valores_unicos = df[col].unique()
    contagem = df[col].value_counts(dropna=False)
    print(f"\n{col}:")
    print(f"  Valores únicos: {valores_unicos}")
    print(f"  Contagem:")
    print(contagem)

Colunas booleanas encontradas: ['profissionalSaude', 'profissionalSeguranca', 'codigoContemComunidadeTradicional', 'excluido', 'validado']


profissionalSaude:
  Valores únicos: [False True nan]
  Contagem:
profissionalSaude
False    145380
True       3357
NaN           4
Name: count, dtype: int64

profissionalSeguranca:
  Valores únicos: [False True nan]
  Contagem:
profissionalSeguranca
False    148290
True        276
NaN         175
Name: count, dtype: int64

codigoContemComunidadeTradicional:
  Valores únicos: [False True nan]
  Contagem:
codigoContemComunidadeTradicional
False    138190
NaN        5687
True       4864
Name: count, dtype: int64

excluido:
  Valores únicos: [False]
  Contagem:
excluido
False    148741
Name: count, dtype: int64

validado:
  Valores únicos: [False]
  Contagem:
validado
False    148741
Name: count, dtype: int64

In [18]:
# Valores únicos dos campos que começam com 'codigo'
colunas_codigo = [col for col in df.columns if col.lower().startswith('codigo')]

print(f"Colunas que começam com 'codigo': {colunas_codigo}\n")

for col in colunas_codigo:
    valores_unicos = df[col].unique()
    contagem = df[col].value_counts(dropna=False)
    print(f"\n{col}:")
    print(f"  Valores únicos: {valores_unicos}")
    print(f"  Contagem:")
    print(contagem)
    print("-" * 80)

Colunas que começam com 'codigo': ['codigoEstrategiaCovid', 'codigoBuscaAtivaAssintomatico', 'codigoTriagemPopulacaoEspecifica', 'codigoLocalRealizacaoTestagem', 'codigoRecebeuVacina', 'codigoLaboratorioPrimeiraDose', 'codigoLaboratorioSegundaDose', 'codigoContemComunidadeTradicional', 'codigoDosesVacina', 'codigoEstadoTeste1', 'codigoTipoTeste1', 'codigoFabricanteTeste1', 'codigoResultadoTeste1', 'codigoEstadoTeste2', 'codigoTipoTeste2', 'codigoFabricanteTeste2', 'codigoResultadoTeste2', 'codigoEstadoTeste3', 'codigoTipoTeste3', 'codigoFabricanteTeste3', 'codigoResultadoTeste3', 'codigoEstadoTeste4', 'codigoTipoTeste4', 'codigoFabricanteTeste4', 'codigoResultadoTeste4']


codigoEstrategiaCovid:
  Valores únicos: [ 1.  2.  3. nan]
  Contagem:
codigoEstrategiaCovid
1.0    121664
2.0     16640
NaN      7653
3.0      2784
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoBuscaAtivaAssintomatico:
  Valores únicos: [nan  1.  2.  4.  3.]
  Contagem:
codigoBuscaAtivaAssintomatico
NaN    131939
4.0      8712
1.0      6612
2.0      1446
3.0        32
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoTriagemPopulacaoEspecifica:
  Valores únicos: [nan  5.  4.  1.  2.  3.]
  Contagem:
codigoTriagemPopulacaoEspecifica
NaN    145922
5.0      1592
4.0       613
3.0       242
2.0       237
1.0       135
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoLocalRealizacaoTestagem:
  Valores únicos: [ 1.  4.  7.  6.  5.  3.  2. nan]
  Contagem:
codigoLocalRealizacaoTestagem
1.0    137012
NaN      7651
7.0      1435
2.0      1357
6.0       602
4.0       455
5.0       171
3.0        58
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoRecebeuVacina:
  Valores únicos: [ 1. nan  2.  3.]
  Contagem:
codigoRecebeuVacina
1.0    96988
NaN    28085
2.0    23564
3.0      104
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoLaboratorioPrimeiraDose:
  Valores únicos: ['ASTRAZENECA' 'ASTRAZENECA/FIOCRUZ' 'SINOVAC/BUTANTAN' nan 'PFIZER'
 'PENDENTE IDENTIFICAÇÃO' 'PENDENTE IDENTIFICA??O' 'PFIZER - PEDIÁTRICA'
 'FUNDACAO OSWALDO CRUZ' 'FUNDACAO BUTANTAN' 'MINISTERIO DA SAUDE'
 'ASTRAZENECA/OXFORD' 'PFIZER - PEDIÁTRICA MENOR DE 5 ANOS' 'JANSSEN'
 'SINOVAC']
  Contagem:
codigoLaboratorioPrimeiraDose
NaN                                    57369
ASTRAZENECA/FIOCRUZ                    35322
SINOVAC/BUTANTAN                       27172
PFIZER                                 21721
ASTRAZENECA                             4426
PENDENTE IDENTIFICAÇÃO                  1110
PFIZER - PEDIÁTRICA MENOR DE 5 ANOS      883
PFIZER - PEDIÁTRICA                      353
JANSSEN                                  155
PENDENTE IDENTIFICA??O                    86
FUNDACAO OSWALDO CRUZ                     72
SINOVAC                                   25
FUNDACAO BUTANTAN                         23
MINISTERIO DA SAUDE                       22
ASTRAZENECA/OXFORD                         2
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoLaboratorioSegundaDose:
  Valores únicos: ['ASTRAZENECA/FIOCRUZ' 'ASTRAZENECA' 'SINOVAC/BUTANTAN' nan 'PFIZER'
 'PENDENTE IDENTIFICAÇÃO' 'JANSSEN' 'PFIZER - PEDIÁTRICA'
 'FUNDACAO OSWALDO CRUZ' 'FUNDACAO BUTANTAN' 'MINISTERIO DA SAUDE'
 'ASTRAZENECA/OXFORD' 'SERUM INSTITUTE OF INDIA LTD'
 'PFIZER - PEDIÁTRICA MENOR DE 5 ANOS' 'SINOVAC' 'PENDENTE IDENTIFICA??O'
 'PFIZER - PEDI?TRICA']
  Contagem:
codigoLaboratorioSegundaDose
NaN                                    68508
ASTRAZENECA/FIOCRUZ                    33277
SINOVAC/BUTANTAN                       23871
PFIZER                                 18359
ASTRAZENECA                             2998
PENDENTE IDENTIFICAÇÃO                   589
PFIZER - PEDIÁTRICA                      498
PFIZER - PEDIÁTRICA MENOR DE 5 ANOS      454
JANSSEN                                   56
FUNDACAO OSWALDO CRUZ                     49
SINOVAC                                   38
FUNDACAO BUTANTAN                         18
MINISTERIO DA SAUDE                       18
PENDENTE IDENTIFICA??O                     5
ASTRAZENECA/OXFORD                         1
SERUM INSTITUTE OF INDIA LTD               1
PFIZER - PEDI?TRICA                        1
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoContemComunidadeTradicional:
  Valores únicos: [False True nan]
  Contagem:
codigoContemComunidadeTradicional
False    138190
NaN        5687
True       4864
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoDosesVacina:
  Valores únicos: ['2,3,2001' '3,1,2002' '1,2,2003' '2,1' '1,2' '2,3' nan '2,1,2003'
 '1,3,2002' '3,2,2001' '1' '3' '1,3' '2' '1,2,3,4' '3,2' '3,1']
  Contagem:
codigoDosesVacina
NaN         53570
1,2         36728
1,2,2003    27093
1,2,3,4     16401
1           11072
2            1570
2,1          1067
3,2,2001      232
3,1,2002      210
2,3,2001      208
1,3,2002      200
2,1,2003      165
3             155
1,3            30
2,3            20
3,1            11
3,2             9
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoEstadoTeste1:
  Valores únicos: [ 3. nan  4.  2.  1.]
  Contagem:
codigoEstadoTeste1
3.0    128060
NaN     16720
2.0      1856
1.0      1834
4.0       271
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoTipoTeste1:
  Valores únicos: [ 3.  4. nan  1.  9.  5.  2.  6.  8.  7.]
  Contagem:
codigoTipoTeste1
3.0    115161
NaN     16720
1.0      9251
5.0      5025
4.0      1670
7.0       422
6.0       379
9.0        51
8.0        38
2.0        24
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoFabricanteTeste1:
  Valores únicos: ['715.0' '792.0' nan '915.0' '841.0' '322.0' '665.0' '421.0' '632.0']
  Contagem:
codigoFabricanteTeste1
915.0    55069
792.0    44829
NaN      38068
715.0    10764
322.0        6
421.0        2
841.0        1
665.0        1
632.0        1
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoResultadoTeste1:
  Valores únicos: [ 2.  1. nan  3.]
  Contagem:
codigoResultadoTeste1
2.0    106510
1.0     21442
NaN     20697
3.0        92
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoEstadoTeste2:
  Valores únicos: [nan  3.  4.  2.  1.]
  Contagem:
codigoEstadoTeste2
NaN    136127
3.0      7879
1.0      4175
2.0       550
4.0        10
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoTipoTeste2:
  Valores únicos: [nan  5.  3.  4.  1.  8.  6.  9.  7.  2.]
  Contagem:
codigoTipoTeste2
NaN    136127
3.0      9994
1.0      1269
5.0      1077
4.0       166
6.0        41
8.0        28
7.0        18
9.0        15
2.0         6
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoFabricanteTeste2:
  Valores únicos: [nan '915.0' '715.0' '792.0' '322.0' '421.0' '98.0' '665.0']
  Contagem:
codigoFabricanteTeste2
NaN      143338
915.0      2970
792.0      1515
715.0       906
322.0         6
421.0         3
665.0         2
98.0          1
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoResultadoTeste2:
  Valores únicos: [nan  1.  2.  3.]
  Contagem:
codigoResultadoTeste2
NaN    140869
2.0      6131
1.0      1726
3.0        15
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoEstadoTeste3:
  Valores únicos: [nan  3.  2.  1.  4.]
  Contagem:
codigoEstadoTeste3
NaN    147899
3.0       627
1.0       116
2.0        97
4.0         2
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoTipoTeste3:
  Valores únicos: [nan  3.  1.  4.  9.  5.  6.  7.  8.  2.]
  Contagem:
codigoTipoTeste3
NaN    147899
3.0       597
5.0       161
1.0        44
4.0         9
6.0         9
7.0         9
9.0         7
2.0         5
8.0         1
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoFabricanteTeste3:
  Valores únicos: [nan '715.0' '915.0' '792.0' '322.0' '76.0' '421.0' '51.0' '98.0']
  Contagem:
codigoFabricanteTeste3
NaN      148338
715.0       152
915.0       120
792.0       117
322.0         8
76.0          2
51.0          2
421.0         1
98.0          1
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoResultadoTeste3:
  Valores únicos: [nan  1.  2.  3.]
  Contagem:
codigoResultadoTeste3
NaN    148114
2.0       389
1.0       233
3.0         5
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoEstadoTeste4:
  Valores únicos: [nan  3.  2.  1.]
  Contagem:
codigoEstadoTeste4
NaN    148558
3.0       166
2.0        10
1.0         7
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoTipoTeste4:
  Valores únicos: [nan  3.  1.  9.  5.  7.  8.  6.]
  Contagem:
codigoTipoTeste4
NaN    148558
3.0       116
5.0        46
1.0        16
6.0         2
9.0         1
7.0         1
8.0         1
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoFabricanteTeste4:
  Valores únicos: [nan '715.0' '915.0' '792.0' '366.0' '51.0' '880.0' '275.0' '322.0']
  Contagem:
codigoFabricanteTeste4
NaN      148642
715.0        40
915.0        28
792.0        24
51.0          3
366.0         1
880.0         1
275.0         1
322.0         1
Name: count, dtype: int64
--------------------------------------------------------------------------------

codigoResultadoTeste4:
  Valores únicos: [nan  1.  2.]
  Contagem:
codigoResultadoTeste4
NaN    148575
2.0       113
1.0        53
Name: count, dtype: int64
--------------------------------------------------------------------------------

In [19]:
# Limpar coluna codigoDosesVacina - remover ano (4 dígitos) do final
import re

def limpar_codigo_doses(valor):
    """Remove anos (4 dígitos) do final dos códigos de doses de vacina"""
    if pd.isna(valor):
        return valor
    
    valor_str = str(valor).strip()
    
    # Remover sequências de 4 dígitos (anos como 2001, 2002, 2003)
    # Padrão: vírgula seguida de 4 dígitos no final
    valor_limpo = re.sub(r',\d{4}$', '', valor_str)
    
    return valor_limpo

df['codigoDosesVacina'] = df['codigoDosesVacina'].apply(limpar_codigo_doses)

print("Valores após limpeza:")
print(df['codigoDosesVacina'].value_counts(dropna=False))

Valores após limpeza:
codigoDosesVacina
1,2        63821
NaN        53570
1,2,3,4    16401
1          11072
2           1570
2,1         1232
3,2          241
1,3          230
2,3          228
3,1          221
3            155
Name: count, dtype: int64

In [20]:
print(f"Antes do filtro idade: {df.shape}")
df['idade'] = pd.to_numeric(df['idade'], errors='coerce')
df = df[(df['idade'].isna()) | ((df['idade'] >= 0) & (df['idade'] <= 120))]
print(f"Após filtro idade: {df.shape}")

Antes do filtro idade: (148741, 64)
Após filtro idade: (148741, 64)

In [21]:

cols_categoricas = ['sintomas', 'racaCor', 'sexo', 'estado', 'municipio',
              'cbo','classificacaoFinal','evolucaoCaso','condicoes',
              'origem','lotePrimeiraDose','loteSegundaDose',
              'codigoFabricanteTeste1', 'codigoFabricanteTeste2',
              'codigoFabricanteTeste3','codigoFabricanteTeste4',
              'outroLocalRealizacaoTestagem','outroBuscaAtivaAssintomatico',
              'outrasCondicoes','outrosSintomas','outroTriagemPopulacaoEspecifica',
              'codigoLaboratorioPrimeiraDose', 'codigoLaboratorioSegundaDose']
for col in cols_categoricas:
    df[col] = df[col].fillna("NÃO INFORMADO")

In [22]:
# Valores únicos das variáveis booleanas
# Buscar colunas que podem ser booleanas
possiveis_bool = [col for col in df.columns if any(palavra in col.lower() for palavra in 
                  ['tradicional', 'saude', 'seguranca', 'excluido', 'validado'])]

print(f"Colunas booleanas encontradas: {possiveis_bool}\n")

for col in possiveis_bool:
    valores_unicos = df[col].unique()
    contagem = df[col].value_counts(dropna=False)
    print(f"\n{col}:")
    print(f"  Valores únicos: {valores_unicos}")
    print(f"  Contagem:")
    print(contagem)

Colunas booleanas encontradas: ['profissionalSaude', 'profissionalSeguranca', 'codigoContemComunidadeTradicional', 'excluido', 'validado']


profissionalSaude:
  Valores únicos: [False True nan]
  Contagem:
profissionalSaude
False    145380
True       3357
NaN           4
Name: count, dtype: int64

profissionalSeguranca:
  Valores únicos: [False True nan]
  Contagem:
profissionalSeguranca
False    148290
True        276
NaN         175
Name: count, dtype: int64

codigoContemComunidadeTradicional:
  Valores únicos: [False True nan]
  Contagem:
codigoContemComunidadeTradicional
False    138190
NaN        5687
True       4864
Name: count, dtype: int64

excluido:
  Valores únicos: [False]
  Contagem:
excluido
False    148741
Name: count, dtype: int64

validado:
  Valores únicos: [False]
  Contagem:
validado
False    148741
Name: count, dtype: int64

In [23]:
df.drop(columns=['source_id'], inplace=True)

In [24]:
df.isnull().mean().sort_values(ascending=False)

dataColetaTeste4                     0.999529
codigoResultadoTeste4                0.998884
codigoTipoTeste4                     0.998770
codigoEstadoTeste4                   0.998770
dataColetaTeste3                     0.998191
codigoResultadoTeste3                0.995785
codigoTipoTeste3                     0.994339
codigoEstadoTeste3                   0.994339
codigoTriagemPopulacaoEspecifica     0.981048
codigoResultadoTeste2                0.947076
dataColetaTeste2                     0.943331
codigoTipoTeste2                     0.915195
codigoEstadoTeste2                   0.915195
codigoBuscaAtivaAssintomatico        0.887039
dataSegundaDose                      0.800022
dataPrimeiraDose                     0.765243
dataEncerramento                     0.668921
dataInicioSintomas                   0.405060
codigoDosesVacina                    0.360156
idade                                0.264534
codigoRecebeuVacina                  0.188818
codigoResultadoTeste1                0.139148
dataColetaTeste1                     0.126603
codigoTipoTeste1                     0.112410
codigoEstadoTeste1                   0.112410
municipioNotificacaoIBGE             0.055371
estadoNotificacaoIBGE                0.054444
codigoEstrategiaCovid                0.051452
codigoLocalRealizacaoTestagem        0.051438
municipioIBGE                        0.039283
estadoIBGE                           0.038402
codigoContemComunidadeTradicional    0.038234
profissionalSeguranca                0.001177
municipioNotificacao                 0.000928
dataNotificacao                      0.000054
profissionalSaude                    0.000027
lotePrimeiraDose                     0.000000
codigoLaboratorioSegundaDose         0.000000
codigoLaboratorioPrimeiraDose        0.000000
loteSegundaDose                      0.000000
outrasCondicoes                      0.000000
sexo                                 0.000000
condicoes                            0.000000
estado                               0.000000
municipio                            0.000000
origem                               0.000000
estadoNotificacao                    0.000000
sintomas                             0.000000
racaCor                              0.000000
outrosSintomas                       0.000000
cbo                                  0.000000
outroLocalRealizacaoTestagem         0.000000
outroTriagemPopulacaoEspecifica      0.000000
classificacaoFinal                   0.000000
outroBuscaAtivaAssintomatico         0.000000
evolucaoCaso                         0.000000
excluido                             0.000000
validado                             0.000000
totalTestesRealizados                0.000000
codigoFabricanteTeste1               0.000000
codigoFabricanteTeste2               0.000000
codigoFabricanteTeste3               0.000000
codigoFabricanteTeste4               0.000000
dtype: float64

Ha uma grande quantidade de nulos não ajustaveis tentei fazer o maximo de ajuste possiveis mantendo a integridade do dataset

conclui a limpeza deixando nulos apenas nas colunas referentes a codigos especificos ou seja não tem como subisituilos por metodos pradrões além disso removia os outliers em idade

In [25]:
df.to_parquet('datasus_limpo.parquet', index=False)
print(f"✓ Arquivo salvo: datasus_limpo.parquet - {df.shape[0]} registros")

✓ Arquivo salvo: datasus_limpo.parquet - 148741 registros

In [26]:
df.to_csv('datasus_limpo.csv', index=False)
print(f"✓ Arquivo salvo: datasus_limpo.csv - {df.shape[0]} registros")

✓ Arquivo salvo: datasus_limpo.csv - 148741 registros

---

## RELATÓRIO DE INTEGRIDADE DOS DADOS

### 1. Dados Faltantes

In [27]:
# Percentual de dados faltantes por coluna
percentual_nulos = (df.isnull().mean() * 100).sort_values(ascending=False)
print("Top 10 colunas com mais dados faltantes:\n")
print(percentual_nulos.head(10).to_string())
print(f"\nMédia geral de dados faltantes: {percentual_nulos.mean():.2f}%")

Top 10 colunas com mais dados faltantes:

dataColetaTeste4                    99.952938
codigoResultadoTeste4               99.888397
codigoTipoTeste4                    99.876967
codigoEstadoTeste4                  99.876967
dataColetaTeste3                    99.819149
codigoResultadoTeste3               99.578462
codigoTipoTeste3                    99.433915
codigoEstadoTeste3                  99.433915
codigoTriagemPopulacaoEspecifica    98.104759
codigoResultadoTeste2               94.707579

Média geral de dados faltantes: 28.32%

### 2. Outliers Detectados

In [28]:
# Carregando dataset original para comparação
df_original = pd.read_csv('datasus.csv')
registros_originais = len(df_original)
registros_limpos = len(df)

# Outliers removidos (idade fora do intervalo 0-120)
df_original['idade'] = pd.to_numeric(df_original['idade'], errors='coerce')
outliers_idade = len(df_original[(df_original['idade'] < 0) | (df_original['idade'] > 120)])

print(f"Outliers detectados em 'idade' (< 0 ou > 120): {outliers_idade} registros")
print(f"Percentual de outliers: {(outliers_idade/registros_originais)*100:.2f}%")

Outliers detectados em 'idade' (< 0 ou > 120): 0 registros
Percentual de outliers: 0.00%

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_9084\176099432.py:2: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  df_original = pd.read_csv('datasus.csv')

### 3. Registros Limpos

In [29]:
# Resumo da limpeza
print(f"Registros no dataset original: {registros_originais:,}")
print(f"Registros após normalização: {registros_limpos:,}")
print(f"Registros removidos: {registros_originais - registros_limpos:,}")
print(f"Taxa de retenção: {(registros_limpos/registros_originais)*100:.2f}%")
print(f"\nColunas no dataset limpo: {len(df.columns)}")
print(f"Total de dados: {df.shape[0] * df.shape[1]:,} células")

Registros no dataset original: 148,741
Registros após normalização: 148,741
Registros removidos: 0
Taxa de retenção: 100.00%

Colunas no dataset limpo: 63
Total de dados: 9,370,683 células

---

## RESUMO DA NORMALIZAÇÃO

O processo de limpeza e normalização dos dados DATASUS incluiu:

**Transformações aplicadas:**
- Conversão de colunas de data para tipo datetime
- Padronização de texto (uppercase, remoção de espaços)
- Mapeamento de valores booleanos
- Limpeza de códigos de doses de vacina (remoção de anos)
- Preenchimento de valores categóricos faltantes com "NÃO INFORMADO"
- Remoção de outliers na coluna idade (valores < 0 ou > 120)
- Remoção da coluna source_id

**Resultados:**
- Dataset mantém alta taxa de retenção de registros
- Valores nulos permanecem apenas em colunas onde não é possível inferir valores (códigos específicos, datas opcionais)
- Outliers removidos representam anomalias nos dados de idade
- Dataset final pronto para análise e migração para banco de dados PostgreSQL